@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>About Us</h2>
            <p>
                Swisher International, Inc was founded in 1861 by David Swisher. Since then, it has acquired several other companies and incorporated them under the Swisher umbrella. Firms as Drew Estate, a manufacturer of premium cigars, Rogue, manufacturer of nicotine “on-demand” products, Hempire manufacturer of rolling papers based on hemp, and E-Alternative Solutions, manufacturer and seller of vaping-related products are all part of the Swisher family.
            </p>
            <p>
                Currently, Swisher is owned by High Island Holdings, an investment company based on Connecticut. Its president is John Miller and the company is the world’s largest manufacturer of cigars. Swisher International has subsidiaries in different countries such as the Dominican Republic, Honduras, Nicaragua, and Costa Rica. It also has several offices distributed around the United States with its main office located here in Jacksonville, Florida.
            </p>
            <p>
                Its main competitors vary depending on the product. For instance, in the large cigars manufacturing and sales category, its main competitor is John Middleton Co, the producers of Black and Mild. In the vaping category, its main competitor is JUUL. Now the company is introducing a new line of products based on CBD through its E-Alternative Solutions brand. The main player in this category is Cureganics.
            </p>
            <p>
                Nevertheless, Swisher International has a 70% market share of the large cigars business in the United States. Its more popular item is the Swisher Sweet red cigarillo. Companywide, sales exceed the 2 billion cigars a year. At this time, the company has a sales force of more than 300 sales representatives all around the United States.
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/Images/about--our-story.jpg" alt="" width="350" height="350">
        </div>
    </div>
</div>