@{
    ViewBag.Title = "Contact";
}




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.888112003273!2d-81.64876604871971!3d30.354129610740657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e5b0d55815e069%3A0x1d8580e7ae5018b6!2sSwisher%20International%20Inc.!5e0!3m2!1ses!2sus!4v1592768974792!5m2!1ses!2sus" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <address>
                    459 E 16th St<br />
                    Jacksonville, FL 32206<br />
                    <abbr title="Phone">P:</abbr>
                    (904) 353-4311
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@swisher.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@swisher.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

            
